 @import url("./base.css");

 .page {
   padding-bottom: 0.1rem;
 }

 #intro {
   padding-bottom: 4rem;
   background-image: url("../img/party.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   height: 40rem;
   position: relative;
 }

 #intro h1,
 #intro p {
   padding: 0rem 4rem 0rem 4rem;
 }

 #intro h1 {
   font-size: 2.5rem;
   font-family: var(--mono);
   padding-top: 10rem;
   text-shadow: 0px 0px 0 rgb(230, 230, 230), 1px 1px 0 rgb(204, 204, 204), 2px 2px 0 rgb(179, 179, 179), 3px 3px 0 rgb(153, 153, 153), 4px 4px 0 rgb(128, 128, 128), 5px 5px 0 rgb(102, 102, 102), 6px 6px 0 rgb(77, 77, 77), 7px 7px 0 rgb(51, 51, 51), 8px 8px 0 rgb(26, 26, 26), 9px 9px 0 rgb(0, 0, 0), 10px 10px 0 rgb(-25, -25, -25), 11px 11px 10px rgba(0, 0, 0, 0.3), 11px 11px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, .2);
 }

 #intro p {
   font-size: 1.5rem;
   text-shadow: 0px 0px 0 rgb(191, 191, 191), 1px 1px 0 rgb(128, 128, 128), 2px 2px 0 rgb(64, 64, 64), 3px 3px 0 rgb(0, 0, 0), 4px 4px 0 rgb(-64, -64, -64), 5px 5px 4px rgba(0, 0, 0, 0.3), 5px 5px 1px rgba(0, 0, 0, 0.5), 0px 0px 4px rgba(0, 0, 0, .2);
 }

 #intro a {
   margin-left: 4rem;
 }

 /* container */

 #artists h3 {
   padding-left: 20px;
 }

 .card-list {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
   padding: 1rem;
   gap: 1rem;
 }

 .card-list .card-item {
   background: var(--white);
   padding: 26px;
   border-radius: 8px;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
   list-style: none;
   cursor: pointer;
   text-decoration: none;
   border: 2px solid transparent;
   transition: border 0.5s ease;
 }

 .card-list .card-item:hover {
   border: 2px solid var(--black);
 }

 .card-list .card-item img {
   width: 100%;
   aspect-ratio: 16/9;
   border-radius: 8px;
   object-fit: cover;
 }

 .card-list span {
   display: inline-block;
   background: var(--magenta);
   margin-top: 32px;
   padding: 8px 15px;
   font-size: 0.75rem;
   border-radius: 50px;
   font-weight: 600;
 }

 .card-list .banda {
   background-color: #F7DFF5;
   color: #B22485;
 }

 .card-list .solista {
   background-color: #d1e8ff;
   color: #2968a8;
 }

 .card-list .instrumentista {
   background-color: #d6f8d6;
   color: #205c20;
 }

 .card-item h3 {
   color: var(--black);
   font-size: 1.438rem;
   margin-top: 28px;
   font-weight: 600;
 }

 .card-item .arrow {
   display: flex;
   align-items: center;
   justify-content: center;
   transform: rotate(-35deg);
   height: 40px;
   width: 40px;
   color: var(--black);
   border: 1px solid var(--black);
   border-radius: 50%;
   margin-top: 40px;
   transition: 0.2s ease;
 }

 .card-list .card-item:hover .arrow {
   background: var(--black);
   color: var(--white);
 }

 @media (max-width: 1200px) {
   .card-list .card-item {
     padding: 15px;
   }
 }

 @media screen and (max-width: 980px) {
   .card-list {
     margin: 0 auto;
   }
 }

 /* Scroll infinito en pantallas pequeñas (por ahora) */
 @media (max-width: 768px) {
   .card-list {
     display: flex;
     overflow-x: auto;
     white-space: nowrap;
     scroll-behavior: smooth;
     cursor: grab;
   }

   .card-list:active {
     cursor: grabbing;
   }

   .card-item {
     flex: 0 0 auto;
     /* las tarjetas no se ajustan al ancho del contenedor */
     width: 500px;
     margin-right: 10px;
   }

   .card-list::-webkit-scrollbar {
     display: none;
     /* Oculta la barra de scroll */
   }
 }

 /* Encapsulación de estilos para la sección "Más Info" */
 .info-section {
   margin: 20px 0;
   font-family: 'Roboto', sans-serif;
 }

 .info-container {
   max-width: 800px;
   margin: 0 auto;
   /* padding-left: 20px; */
 }

 .info-section h1,
 .info-section h2 {
   color: #ffffff;
   text-align: center;
   font-weight: 700;
   margin-bottom: 20px;
 }

 .info-section h2 {
   margin-top: 30px;
 }

 .info-section p {
   color: #ffffff;
   line-height: 1.6;
   margin-bottom: 15px;
 }

 .info-section ul {
   list-style-type: disc;
   margin-left: 20px;
 }

 .info-section li {
   margin-bottom: 10px;
   color: #ffffff;
 }

 .info-section strong {
   color: #ffffff;
 }

 /* Estilos responsivos */
 @media (max-width: 768px) {
   .info-section {
     padding: 20px;
   }

   .info-section h1,
   .info-section h2 {
     font-size: 1.5em;
   }
 }