*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Estilos generales */
body {
    background-color: #121013;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #FFFFFF;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Estilo para el formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #1A1A1A;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    color: #FFFFFF;
    font-size: 1em;
    margin-top: 10px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #333333;
    border-radius: 4px;
    background-color: #212121;
    color: #FFFFFF;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    outline: none;
    border-color: #FF00FF;
}

button[type="submit"] {
    background-color: #E310CB;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #FF33FF;
}

#additionalSelects {
    margin-top: 15px;
}

#additionalSelects select {
    background-color: #1A1A1A;
    color: #FFFFFF;
    border: 1px solid #333333;
}
