@import url("./base.css");
/* body */

.page {
    padding-bottom: 6rem;
}

.button {
    background-color: var(--magenta);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    color: white;
    background-color: var(--hotmag);
}

/*new*/
.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* Espacio entre los elementos */
    margin: 20px auto;
}

.options label {
    font-weight: bold;
    color: var(--white);
}

.options select {
    background-color: var(--hotmag);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.options select:hover {
    background-color: var(--magenta);
    /* Inviertes los colores en hover */
}

#maze {
    display: grid;
    margin: 20px auto;
    width: max-content;
}

/* Estilos para las celdas */
.cell {
    background-color: var(--white);
}

/* Estilo para el inicio y el final */
.start {
    background-color: #76c7c0;
}

.end {
    background-color: var(--dkblue);
}

/* Paredes */
.wall {
    background-color: var(--magenta);
}

/* Celda activa (donde está el jugador) */
.active {
    background-image: url('../img/speaker.png');
    background-size: cover;
}

.voice {
    background-image: url('../img/voice.png');
    background-size: cover;
}

.instrumental {
    background-image: url('../img/guitar.png');
    background-size: cover;
}