@import url("./base.css");
@import url("./editar.css");

.logo-container {
    text-align: center;
    margin-bottom: 2rem;
}

.logo {
    max-width: 200px;
    height: auto;
}

#additionalSelects {
    margin-top: 0rem;
}
.password-container {
    position: relative;
    display: flex;
    gap: 0.5rem;
}

.password-container input {
    flex: 1;
}

.password-container button {
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.password-container button:hover {
    background-color: var(--magenta);
}

.login-text {
    text-align: center;
    margin-top: 2rem;
    color: var(--white);
}

.login-text a {
    color: var(--aqua);
    text-decoration: none;
    transition: color 0.3s;
}

.login-text a:hover {
    color: var(--magenta);
}

.btnSubmit {
    padding: 1.25rem 1.3rem;
    background-color: var(--magenta);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnSubmit:hover {
    background-color: var(--hotmag);
}